body {
    font-family: sans-serif;
}

summary {
    outline: none;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.clear {
    clear: both;
}

table.footerTable th, table.footerTable td {
    padding: 1px;
    text-align: left;
}