body {
    font-family: sans-serif;
}

table#toc th {
    text-align: left;
}

img.twitter {
    /*320,180*/
    width: 300px;
    height: 168px;
    object-fit: cover;
}

img.twitterLeo {
    width: 240px;
    height: 240px;
    object-position: 0 16%;
    object-fit: cover;
}

img.twitter4Frame {
    width: 250px;
    height: 190px;
    object-position: 0 3%;
    object-fit: cover;
}

img.youtube {
    width: 300px;
    height: 168px;
    object-fit: cover;
}

.thumbBlock {
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px;
}

.showRemainBlock {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 15px;
    padding: 5px 15px;
    background-color: lightblue;
}

.clear {
    clear: both;
}