body {
    font-family: sans-serif;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    max-width: 100%;
    font-size: medium;
}

table tr, th, td {
    border: solid 1px black;
    text-align: center;
    position: relative;
}

table th, td {
    padding: 3px;
}

th.vertical {
    height: 140px;
    width: 20px;
    vertical-align: bottom;
}

th.vertical span.verticalText {
    display: inline-block;
    transform: rotate(-90deg);
    width: 20px;
    padding: 3px;
    white-space: nowrap;
}

td.hasResponce {
    background-color: aqua;
}

td.noResponce {
    background-color: lightgray;
}

td.intersection {
    background-color: dimgray;
}

td.tdResponce span.responceText {
    display: none;
    position: absolute;
    top: 35px;
    background-color: rgba(241, 255, 180, 0.9);
    width: 400px;
    padding: 5px;
    text-align: left;
    z-index: 1;
}

td.tdResponce span.responceTextLeft {
    left: 35px;
}

td.tdResponce span.responceTextRight {
    right: 35px;
}

td.hasResponce:hover {
    background-color: orange;
}

td.noResponce:hover {
    background-color: gray;
}

td.intersection:hover {
    background-color: black;
}

td.tdResponce:hover span.responceText {
    display: block;
}